<div class="entornos container" *ngFor="let ent of entor" >
    <div *ngIf="entorno && entorno === ent">
        <div class="title"
        data-toggle="collapse" [attr.data-target]="'#seccion_' + ent.id" 
        aria-expanded="true" 
        aria-controls="collapseExample">{{ent.nombre | uppercase}}</div>
        <div [id]="'seccion_' + ent.id" class="show">
            <div class="row" *ngFor="let bk of ent.direcciones">
                <div class="col-4">{{bk.name}}</div>
                <div class="col-8"><a href="{{bk.url}}">{{bk.url}}</a></div>
            </div>
        </div>
    </div>
    <div *ngIf="!entorno">
        <div class="title"
        data-toggle="collapse" [attr.data-target]="'#seccion_' + ent.id" 
        aria-expanded="true" 
        aria-controls="collapseExample">{{ent.nombre | uppercase}}</div>
        <div [id]="'seccion_' + ent.id" class="show">
            <div class="row" *ngFor="let bk of ent.direcciones">
                <div class="col-4">{{bk.name}}</div>
                <div class="col-8"><a href="{{bk.url}}">{{bk.url}}</a></div>
            </div>
        </div>
    </div>
</div>


   