$title-background: grey;
$title-color: white;

.entornos {
    .row {
        line-height: 40px;
        padding: 0px 15px;
    }
    .title {
        background-color: $title-background;
        color: $title-color;
        @extend .row;

        &:before {
            content: "-";
            margin-right: 5px;
        }

        &.collapsed:before {
            content: "+";
            margin-right: 5px;
        }
    }  
}