<div class="grupos container" *ngFor="let grp of grup" >
    <div *ngIf="grupo && grupo === grp">
        <div class="title"
        data-toggle="collapse" [attr.data-target]="'#seccion_' + grp.id" 
        aria-expanded="true" 
        aria-controls="collapseExample">{{grp.nombre | uppercase}}</div>
        <div [id]="'seccion_' + grp.id" class="show">
            <div class="row" *ngFor="let bk of grp.direcciones">
                <div class="col-4">{{bk.name}}</div>
                <div class="col-8"><a href="{{bk.url}}">{{bk.url}}</a></div>
            </div>
        </div>
    </div>
    <div *ngIf="!grupo">
        <div class="title"
        data-toggle="collapse" [attr.data-target]="'#seccion_' + grp.id" 
        aria-expanded="true" 
        aria-controls="collapseExample">{{grp.nombre | uppercase}}</div>
        <div [id]="'seccion_' + grp.id" class="show">
            <div class="row" *ngFor="let bk of grp.direcciones">
                <div class="col-4">{{bk.name}}</div>
                <div class="col-8"><a href="{{bk.url}}">{{bk.url}}</a></div>
            </div>
        </div>
    </div>
</div>


   