@import '../../styles.scss';

.selected {
    background-color: $gray-400;
}

.navbar-collapse {
    &.collapse, &.collapsing {
        position: fixed;
        float: left;
        display: block;
        background-color: $white;
        border: 1px solid $gray-600;
        min-width: 20vw;
        min-height: 100vh;
        padding: 10px;
        margin-top: 10px;
    }
}


