<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Project Bookmarks</a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngFor="let entorno of ent">
        <div class="nav-link" 
            [class.selected]="entornoSelected === entorno"
            (click)="onSelectEntorno(entorno)">{{entorno.nombre}}</div>
      </li>
      <li class="nav-item" *ngFor="let enlace of nav">
        <a class="nav-link" href="{{enlace.url}}">{{enlace.nombre}}</a>
      </li>
    </ul>
    
  </div>
</nav>