<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md">
      <app-header></app-header>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <app-menu></app-menu>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <app-entornos></app-entornos>
    </div>
    <div class="col-md">
      <app-bookmarks></app-bookmarks>
    </div>
  </div>
</div>



<router-outlet></router-outlet>