<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-menu></app-menu>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-9">
      <app-entornos></app-entornos>
    </div>
   <!-- <div class="col-md">
      <app-bookmarks></app-bookmarks>
    </div> -->
  </div>
</div>



<router-outlet></router-outlet>